In [1]:
acc = 1
for x in range(1, 10):
    print(f"{acc} + {x} \t= ", end="")
    acc += x
    print(acc)

print(f"Final sum: {acc}")

1 + 1 	= 2
2 + 2 	= 4
4 + 3 	= 7
7 + 4 	= 11
11 + 5 	= 16
16 + 6 	= 22
22 + 7 	= 29
29 + 8 	= 37
37 + 9 	= 46
Final sum: 46

In [2]:
import math as mt
variable = mt.pi

print(f"Using Numeric {variable = }")
print(f"|{variable:25}|")
print(f"|{variable:<25}|")
print(f"|{variable:>25}|")
print(f"|{variable:^25}|\n")

Using Numeric variable = 3.141592653589793
|        3.141592653589793|
|3.141592653589793        |
|        3.141592653589793|
|    3.141592653589793    |

In [3]:
a = 25
b = -82

for x in range(0, 24, +3):
    print(f"|{a+x:<3} + {b+x:>3}| = ", end="")
    print(abs(a+2*x+b))

|25  + -82| = 57
|28  + -79| = 51
|31  + -76| = 45
|34  + -73| = 39
|37  + -70| = 33
|40  + -67| = 27
|43  + -64| = 21
|46  + -61| = 15

In [4]:
variable = 1200356.87964748
print(f"Using Numeric {variable = }")
print(f"With two decimal places: {variable:.2f}")
print(f"With four decimal places: {variable:.4f}")
print(f"With two decimal places and a comma: {variable:,.2f}")
print(f"With a forced plus sign: {variable:+.2f}\n")

variable *= -1
print(f"Using Numeric {variable = }")
print(f"With two decimal places and a comma: {variable:,.2f}")

Using Numeric variable = 1200356.87964748
With two decimal places: 1200356.88
With four decimal places: 1200356.8796
With two decimal places and a comma: 1,200,356.88
With a forced plus sign: +1200356.88

Using Numeric variable = -1200356.87964748
With two decimal places and a comma: -1,200,356.88

In [5]:
print(f'Number \t\t Square \t Cube')

for x in range(1, 11):
    print(f"|{x:3d} \t\t {x*x:3d} \t\t {x*x*x:<4d}|")

Number 		 Square 	 Cube
|  1 		   1 		 1   |
|  2 		   4 		 8   |
|  3 		   9 		 27  |
|  4 		  16 		 64  |
|  5 		  25 		 125 |
|  6 		  36 		 216 |
|  7 		  49 		 343 |
|  8 		  64 		 512 |
|  9 		  81 		 729 |
| 10 		 100 		 1000|

In [6]:
APPLES = 2.75
BREAD = 3.50
CHEESE = 67.25

numApples = 5
numBread = 10
numCheese = 1

prcApples = numApples * APPLES
prcBread = numBread * BREAD
prcCheese = numCheese * CHEESE

strApples = 'Apples'
strBread = 'Rye Bread'
strCheese = 'Cheese'

total = prcBread + prcCheese + prcApples

print(f'{"My Grocery List":^50s}')
print(f'{"="*50}')
print(f'Product \t Qty \t Price \t   Total Price')
print(f'{"="*50}')
print(f'{strApples:10s}{numApples:10d}{APPLES:10.2f} \t\t${prcApples:>5.2f}')
print(f'{strBread:10s}{numBread:10d}{BREAD:10.2f} \t\t${prcBread:>5.2f}')
print(f'{strCheese:10s}{numCheese:10d}{CHEESE:10.2f} \t\t${prcCheese:>5.2f}')
print(f'{"TOTAL:":>30s}\t\t${total:>5.2f}')

                 My Grocery List
==================================================
Product 	 Qty 	 Price 	   Total Price
==================================================
Apples             5      2.75 		$13.75
Rye Bread         10      3.50 		$35.00
Cheese             1     67.25 		$67.25
                        TOTAL:		$116.00

In [7]:
depts = {"MBA","EEE","MBA","EEE"}
print(depts, "\t\t\t\t",  type(depts))

depts = ("MBA","EEE","MBA","EEE")
print(depts, "\t\t",  type(depts))

depts = ["MBA","EEE","MBA","EEE"]
print(depts, "\t\t",  type(depts))

depts = {"MBA":23,"EEE":44,"MBA":12,"EEE":33, "ARCH":12}
print(depts, "\t", type(depts))

{'MBA', 'EEE'} 				 <class 'set'>
('MBA', 'EEE', 'MBA', 'EEE') 		 <class 'tuple'>
['MBA', 'EEE', 'MBA', 'EEE'] 		 <class 'list'>
{'MBA': 12, 'EEE': 33, 'ARCH': 12} 	 <class 'dict'>

In [8]:
depts = {"MBA","EEE","BBA","ARCHI"}
print(depts)
depts.add("CSE")
print(depts)
depts.add("MBA")
depts.add("EEE")
print(depts)

{'BBA', 'MBA', 'EEE', 'ARCHI'}
{'CSE', 'EEE', 'BBA', 'MBA', 'ARCHI'}
{'CSE', 'EEE', 'BBA', 'MBA', 'ARCHI'}

In [9]:
std = {'mahedi': 93.77, 'rabbi': 94.00, 'ahsan': 92.5}
print(std, type(std))

std.get("mahedi")

{'mahedi': 93.77, 'rabbi': 94.0, 'ahsan': 92.5} <class 'dict'>

93.77

In [10]:
print(std.keys())
print(std.values())

dict_keys(['mahedi', 'rabbi', 'ahsan'])
dict_values([93.77, 94.0, 92.5])

In [11]:
a = [1,2,3,4,5,6,7,8,9]
print(a[0:3]) # slicing operator
print(a[:2])
print(a[3:])
print(a[:-1])
print(a[2:-2])

[1, 2, 3]
[1, 2]
[4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8]
[3, 4, 5, 6, 7]

In [12]:
nums = [ 1, 10, 20, 3, -2, 0]
print(list(map(lambda a: a+a, nums)))

[2, 20, 40, 6, -4, 0]

In [13]:
print(list(filter(lambda a: a>3, nums)))

[10, 20]

In [14]:
print(list(map(lambda a: a>3, nums)))

[False, True, True, False, False, False]

In [15]:
from functools import reduce

l = [ 1, 10, 20, 3, -2, 0]
result = reduce(lambda x,y: x+y,l)
print(result)
print(sum(l))

32
32

In [28]:
(lambda a,b : a * b) (15, 60)  # multiplies 5 and 6 with one line code

900

In [43]:
add = lambda *args : sum(args)
print(add(20, 10, 15, 45))

90

In [51]:
higher_order_func = lambda x, fun : x + fun(x)
print(higher_order_func(20, lambda x: x * x))
print(f'What happned?\n x + fun(x) \n => x + x*x \n => {20} + {20} * {20} = {higher_order_func(20, lambda x: x*x)}')

420
What happned?
 x + fun(x)
 => x + x*x
 => 20 + 20 * 20 = 420

MAP and FILTER

In [56]:
z = [2, 12, -7, 5, 34, -17, 8, 3, -1, 12]

greater = list(filter(lambda a : a > 5, z))
print(greater)
lesser = list(filter(lambda a : a < 5, z))
print(lesser)
even = list(filter(lambda a : a%2 == 0, z))
print(even)

[12, 34, 8, 12]
[2, -7, -17, 3, -1]
[2, 12, 34, 8, 12]

In [58]:
double = list(map(lambda a : a*2, z))
print(double)
cube = list(map(lambda a : pow(a,3), z))
print(cube)

[4, 24, -14, 10, 68, -34, 16, 6, -2, 24]
[8, 1728, -343, 125, 39304, -4913, 512, 27, -1, 1728]

REDUCE

In [63]:
summ = reduce((lambda x, y : x+y), z)
print(f'Using Reduce:\t{summ}')
print(f'Using Sum:\t{sum(z)}')

Using Reduce:	51
Using Sum:	51

QUADRATIC Function

In [70]:
def qudratic(a,b,c):
    return lambda x : a*x**2 + b*x + c

fun = qudratic(5, 15, 10)

print(fun(2), f'\nWhat happened?\n fun(2)\n => a*x**2 + b*x + c\n => 5*2**2 + 15*2 + 10\n => {fun(2)}')

60
What happened?
 fun(2)
 => a*x**2 + b*x + c
 => 5*2**2 + 15*2 + 10
 => 60